In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from tensorflow.python.keras import models
from tensorflow.python.keras import layers

2023-06-07 17:16:48.365060: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [59]:
# https://www.kaggle.com/datasets/christophercorrea/prisoners-and-crime-in-united-states
all_deaths = pd.read_csv("datasets/all_deaths.csv", encoding='latin-1')
all_jails = pd.read_csv("datasets/all_jails.csv", encoding='latin-1')


# https://bjs.ojp.gov/library/publications/prisoners-2021-statistical-tables#:~:text=The%20U.S.%20prison%20population%20was,decrease%20from%202011%20(1%2C599%2C000)
prisonerDemographics = pd.read_csv("datasets/p21stt01.csv", encoding='latin-1')
prisonersPerYear = pd.read_csv("datasets/p21stat02.csv", encoding='latin-1')

In [60]:
# clean prisoner data

# prisonerDemographics data frame
prisonerDemographics = prisonerDemographics.drop(range(0, 9)).reset_index(drop=True)
prisonerDemographics = prisonerDemographics.drop(range(12, 18)).reset_index(drop=True)


# prisonersPerYear data frame
prisonersPerYear = prisonersPerYear.drop(range(0, 10)).reset_index(drop=True)
prisonersPerYear = prisonersPerYear.drop(range(26, 28)).reset_index(drop=True)
prisonersPerYear.columns = ["Year", "Sentenced Prisoners"]


prisonerDemographics

,Bureau of Justice Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Year,NaN,Total,NaN,Federal*,NaN,State,NaN,Male,NaN,Female,NaN
1,2011,NaN,"1,598,968",NaN,"216,362",NaN,"1,382,606",NaN,"1,487,561",NaN,"111,407",NaN
2,2012,NaN,"1,570,397",NaN,"217,815",NaN,"1,352,582",NaN,"1,461,625",NaN,"108,772",NaN
3,2013,NaN,"1,576,950",NaN,"215,866",NaN,"1,361,084",NaN,"1,465,592",NaN,"111,358",NaN
4,2014,NaN,"1,562,319",NaN,"210,567",NaN,"1,351,752",NaN,"1,449,291",NaN,"113,028",NaN
5,2015,NaN,"1,526,603",NaN,"196,455",NaN,"1,330,148",NaN,"1,415,112",NaN,"111,491",NaN
6,2016,NaN,"1,508,129",NaN,"189,192",NaN,"1,318,937",NaN,"1,396,296",NaN,"111,833",NaN
7,2017,NaN,"1,489,189",NaN,"183,058",NaN,"1,306,131",NaN,"1,377,815",NaN,"111,374",NaN
8,2018,NaN,"1,464,385",NaN,"179,898",NaN,"1,284,487",NaN,"1,353,595",NaN,"110,790",NaN
9,2019,NaN,"1,430,165",NaN,"175,116",NaN,"1,255,049",NaN,"1,322,256",NaN,"107,909",NaN
10,2020,NaN,"1,221,164",NaN,"152,156",NaN,"1,069,008",NaN,"1,137,410",NaN,"83,754",NaN
11,2021,NaN,"1,204,322",NaN,"157,314",NaN,"1,047,008",NaN,"1,120,973",NaN,"83,349",NaN